<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Signage</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/rss.css">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 feed">
            <p><b>Parque de exposições de Patrocínio ganha arena para realização de eventos</b></p>
            <p style="text-align: center;"><img  style="width: 80%;" src="https://s2.glbimg.com/jBooQ-JnqKplxo_oXaHUanXPJOQ=/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2017/b/0/RCIVtXSsWtkFViXzy0zw/arena-1-2-.jpg" /><br />
                Local deverá receber exposições agropecuárias, feiras comerciais, festas, formaturas, seminários, shows entre outros. Sindicato Rural diz que investimento foi de mais de R$ 4 milhões.</p>
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-4 col-md-4 col-sm-4 col-xs-4 clima">
            <div class="row local">
                São Paulo, 19 º
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <p>Alguns chuviscos</p>
                    <p>Humidade: 80%</p>
                    <p>Vento: 17 km/h</p>
                    <hr />
                    <p>O sol nasce: 06:45</p>
                    <p>O se põe: 17:27</p>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <img src="img/weather/40.png" class="logo_clima" alt="">
                </div>
            </div>
        </div>
    </div>


</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>